/* .MuiButton-root{
  border-radius: 0.5rem !important;
} */
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2rem;
  visibility: hidden;
}

::-webkit-scrollbar-thumb:hover{
  background: #888;
} */
